//colores

$fondoAside: #359bc0;
$fondoNav: #2a2c29;
$fondoMenu: #505050;

$color-menu-border: rgb(193, 118, 243);

//nav
$color-a_nav: #007bff;
$color-a_nav-bg: #e4e959;
$color-a_nav-border: #007bff;

$color-a_nav-hvr: #9eee93;
$color-a_nav-hvr-bg: #ea2816;
$color-a_nav-hvr-border: #178009;

//menu
$color-a_menu: #eeff00;
$color-a_menu-bg: #8390d4;
$color-a_menu-border: #eeff00;

$color-a_menu-hvr: #ffffff;
$color-a_menu-hvr-bg: #333333;
$color-a_menu-hvr-border: #ffffff;
